<h2>Flickr Photo Viewer</h2>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= render "search_form" %>

<% if @photos %>
  <% @photos.each do |photo| %>
    <%= image_tag "#{Flickr.url(photo)}" %>
  <% end %>
<% end %>
